.modal-nft-plugin {
  .any_arts-modal-header {
    padding: 16px !important;
  }
}

.caption {
  font-size: 12px;
}

.token-selected {
  color: #0752ab !important;
  border-color: #0752ab !important;
  background: transparent !important;
}

.gradient-text {
  background: linear-gradient(45deg, #00b6ef, #0074fd) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
