// Available vars: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@import './index.less';
@import '~antd/dist/antd.less';
@import './typography.less';

// Colors
@primary-color: #747786;

// Border
@border-radius-base: 8px;

// Card
@card-radius: 16px;
